.classmenu{
	background-color: #00983b !important; 
	margin-left: 120px;
}

.classmenu2{
	background-color: #00983b !important;
	margin-left: -200px;
}

.classmenu3{
	background-color: #ff8c00 !important;
}

.classmenu3 ::before{
	background-color: #ff8c00 !important;
}

.class_boton:hover{
	background-color: #00983b !important;
}