/*
    DEMO STYLE
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);
@import url(https://fonts.googleapis.com/css?family=Nunito);

body {
    font-family: 'Nunito', 'Open Sans', sans-serif;
    font-size: 1rem;
    background: #fafafa;
}

p {
    font-family: 'Nunito', 'Open Sans', sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 0.25rem 0.75rem !important;
    font-size: 1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.dropdown-toggle-tm::after {
    right: -15px !important;
}

ul ul a {
    font-size: 1em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    PERSONALIZADOS ADSI
----------------------------------------------------- */

.table td, .table th {
    padding-top: .25rem !important;
    padding-bottom: .25rem !important;
}

table.table-fit {
    width: auto !important;
    table-layout: auto !important;
}

table.table-fit thead th, table.table-fit tfoot th {
    width: auto !important;
}

table.table-fit tbody td, table.table-fit tfoot td {
    width: auto !important;
}

.label-margin {
    margin-top: .5rem !important;
}

.estilo-success {
    padding-top: .75rem !important;
    padding-bottom: 0rem !important;
    height: 50px !important;
}

.estilo-img-previa {
    width: 100% !important;
    height: auto !important;
    padding: 6px !important;
}

.estilo-lista-errores {
    list-style-type: decimal-leading-zero !important;
    margin-bottom: 0px !important;
    padding-left: 1.5rem !important;
}

.dropdown-item {
    padding: 0rem 0.75rem !important;
}

.margin-submenu {
    padding-left: 1rem !important;
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}

.margenes-botones {
    padding-left: 0rem !important;
}

.espacio-linea-cuota {
    line-height: 2.5rem !important;
}

.link-tabla {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.margin-form {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
}

.modal-lg {
    max-width: 60% !important;
}

.modal .modal-dialog {
  max-width: 60% !important;
}

.tooltip-inner {
    min-width: 100px !important;
    max-width: 100% !important;
    background: black !important;
    color: white !important;
    border:1px solid black !important;
}

.modal-header {
    background: #e6e6e6 !important;
    padding: 0.5rem 1rem !important;
}

.modal-footer {
    background: white !important;
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.modal-body-descripcion {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
    -ms-flex-pack: justify !important;
    background: white !important;
    justify-content: space-between !important;
    padding: 0.5rem 0.5rem !important;

}